

{% block content %}
<center>
        <h2>Apartments</h2>
        {% for house in apartmentss %}
        <a href = "{% url 'show-house' house.id %}"
        >{{ house.Address }} - Rating: {{ house.Rating }}/5 </a><br/>
        {% endfor %}
                </div>
                    <h2>LandLords</h2>
        {% for landlord in Landlords %}
        <a href = "{% url 'show-landlord' landlord.id %}"
        >{{ landlord.FullName }} - Rating: {{ landlord.Rating }}/5 </a><br/>
        {% endfor %}
                </div>
            </div>
        </div>
    </center>
{% endblock %}