

{% block content %}
{% load static %} 
{% if user.is_authenticated %}
  <body style="background-color:  #0848a2;"></body>
<center>
  <div class="container">
    <h1 class="text-center" style="font-family: 'Poppins', sans-serif; color: #FDB515;">Review LandLord</h1>
    <br/><br/>

<form action="/landlord/add/" method="post"  enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Submit">
</form>
</center>

{% else %}
{% csrf_token %}
<!DOCTYPE html>
<html>
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIa6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <style>
    h1 {
      color: #FDB515; /* Berkeley yellow color code */
    }
  </style>
</head>
<body style="background-color: #0848a2;">
  <center>
    <h1> Sorry! You Must Be Logged In To View This Page...</h1>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <a href="{% url 'login' %}" class="btn btn-primary">Login Here</a>
    <br><br>
    <br><br>
    <br><br>
    <a href="{% url 'register_user' %}" class="btn btn-primary">Register Here</a>
    <br><br>
    <br><br>
    <br><br>
    <a href="{% url 'index' %}" class="btn btn-primary">Home</a>
  </center>
</body>
</html>
{% endif %}

{% endblock %}