{% block content %}
    <center>
        {% if searched %}
        <h1> You Searched For {{ searched }}</h1><br/>
        {% for apartment in apartments %}
            <a href = "{% url 'show-apartment' apartment.id %}">{{ apartment.Address }} - Rating: {{ apartment.Rating}}/5</a><br/>
        {% endfor %}


        {% else %}
        <h1>Hey! You Forgot To Search For Housing... </h1>
        {% endif %}

        <div style="margin-top: 60vh;"></div> <!-- Add a div with margin-top to push the home button to the bottom of the page -->
        <a href="{% url 'index' %}" class="btn btn-primary" style="font-size: 18px; padding: 12px 30px; position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);">Home</a> <!-- Use CSS to position the home button at the bottom of the page and centered horizontally -->
    </center>

{% endblock %}