{% block content %}
<div class="content-container">
    <center>
        <h1>{{ house.Address }}</h1>
        <br>Rating: {{ house.Rating }}/5</br>
        <br>Bedrooms: {{ house.Bedrooms }}</br>
        <br>Bathrooms: {{ house.Bathrooms }}</br>
        <br>Description:</br>
        <br>{{ house.Description }}</br>
        <br>Price Per Month: ${{ house.Price }}</br>
        <br>LandLords Full Name: {{ house.LandLord }}</br>
        <br>
        {% if house.housing_image %}
        <img src="{{ house.housing_image.url }}" class="house-image, image-container">
        {% endif %}
        <br>
        <br>
        {% if house.housing_image2 %}
        <img src="{{ house.housing_image2.url }}" class="house-image, image-container">
        {% endif %}
        <br>
        <br>
        {% if house.housing_image3 %}
        <img src="{{ house.housing_image3.url }}" class="house-image, image-container">
        {% endif %}
        <br>
        <br>
        {% if house.housing_image4 %}
        <img src="{{ house.housing_image4.url }}" class="house-image, image-container">
        {% endif %}
        <br>
        <br>
        {% if house.housing_image5 %}
        <img src="{{ house.housing_image5.url }}" class="house-image, image-container">
        {% endif %}
        <br>
        <a href="{% url 'index' %}" class="btn btn-primary home-button">Home</a>
    </center>
</div>

{% endblock %}